<% content_for :head do %>
    <link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "drawscripts" %>
    <%= javascript_include_tag "http://feather.aviary.com/js/feather.js" %>
    <%= stylesheet_link_tag "drawstyle" %>
<% end %>



<script type="text/javascript">

    $(document).ready(function () {

        $("#vote1").click(function () {


            $.ajax({
                type:'POST',
                url:'<%= url_for :action => 'vote_left' , :id => @game.id%>',
                success:function (text) {
                    var data = $.parseJSON(text);


                    $("#statsA").html("<strong>" + data[0].left + "</strong> votes");

                    $("#statsB").html("<strong>" + data[0].right + "</strong> votes");

                },
                dataType:'text'

            });

        })


        $("#vote2").click(function () {


            $.ajax({
                type:'POST',
                url:'<%= url_for :action => 'vote_right' , :id => @game.id%>',
                success:function (text) {
                    var data = $.parseJSON(text);


                    $("#statsA").html("<strong>" + data[0].left + "</strong> votes");

                    $("#statsB").html("<strong>" + data[0].right + "</strong> votes");

                },
                dataType:'text'

            });

        })


    });


</script>



<div id="outer">
  <div id="vote_page_center" class="page_center">
    <div id="vote_text" class="text">Which is better?</div>
    <div id="images_vote_container">
      <a href="#">
        <div id="vote1" class="button vote_button">This One!</div>
      </a>
      <a href="#">
        <div id="vote2" class="button vote_button">This One!</div>
      </a>

      <div id="vote_banner">
        <div id="vote_name1"><strong><%= @game.player1 %></strong></div>
        <div id="vote_name2"><strong><%= @game.player2 %></strong></div>
      </div>
      <br>
      <br>
      <br>

      <div id="stats_curtain" class="stats"></div>
      <div id="stats_container" class="stats">
        <div id="statsA" class="stats_text"></div>
        <div id="statsB" class="stats_text"></div>
      </div>

      <img id="imageA" class="vote_images" src="<%= @game.p1.url %>"/>

      <% if @game.p2_file_name.nil? %>


          <!-- WAITING HTML-->

          <div id="waiting_loader">
            <div id="waiting_text" class="text">Waiting for Opponent...</div>
            <img id="waiting_bar" src="images/loader.gif"/>
          </div>

          <!-- /WAITING -->

      <% else %>
          <img id="imageB" class="vote_images" src="<%= @game.p2.url %>"/>

      <% end %>


    </div>
  </div>


</div>
