












<% img = @result["response"]["posts"][0]["photos"][0]["alt_sizes"][1]["url"] %>




<% content_for :head do %>
    <%= javascript_include_tag "drawscripts" %>
    <%= javascript_include_tag "http://feather.aviary.com/js/feather.js" %>
    <%= stylesheet_link_tag "drawstyle" %>
<% end %>


<!-- Instantiate Feather -->
<script type="text/javascript">
    var featherEditor = new Aviary.Feather({
        apiKey:'2cf3c879b',
        apiVersion:2,
        tools:'effects,stickers,crop,draw,text',
        appendTo:'',
        onSave:function (imageID, newURL) {
            var img = document.getElementById(imageID);
            img.src = newURL;




            $.ajax({
              type: 'POST',
              url: '<%= url_for :action => 'update' %>',
              data: 'newImage=' + newURL,
                success: function(data) {

                                window.location.replace("<%= url_for :action => 'display', :controller => "display" %>");
                            },
              dataType: 'script'

            });


        }
    });

    function launchEditor(id, src) {
        featherEditor.launch({
            image:id,
            url:src
        });
        return false;
    }
</script>
</head>


<div id="curtain" onclick="return launchEditor('image1', '<%= img %>');">
  <div id="anim_text_container">
    <div id="draw_click_start" class="anim_text text">Click to start</div>
    <div id="anim1" class="anim_text text">Get ready...</div>
    <div id="anim2" class="anim_text text">Get pumped...</div>
    <div id="anim3" class="anim_text text">Make them laugh...</div>
    <div id="anim4" class="anim_text text">Make them cry...</div>
    <div id="anim5" class="anim_text text">Don't choke!</div>
    <div id="anim6" class="anim_text text">CAPTION!</div>
  </div>
</div>

<div id="header"><a href="#">
  <div id="logo">Captions</div>
</a></div>

<div id="outer">
  <div id="draw_page_center" class="page_center">
    <div id="picture_container">
      <div id="injection_site" class="picture"></div>

      <img id="image1" class="picture" src="<%= img %>"/>


    </div>
  </div>
</div>

